* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.btn {
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin-top: 5px;
}

.invalid {
    color: red;
}

.valid {
    color: green;
}

h1{
    margin-bottom: 10px;
}